:root {
    --mainColor: #e2daca;
    --secColor: #cbcccc;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Lato', 'Roboto', 'Helvetica Neue', Helvetica, sans-serif, Arial;
}

/* ----- Header Start ----- */

header  {
    position: relative;
    display: flex;
    width: 100%;
    height: 130px;
    background-color: var(--mainColor);
}

.main-logo {
    max-width: 55%;
    position: absolute;
    height: 130px;
    
    
}

.nav-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
    flex:  1 50%;
    padding-left: 20px;
    margin-top: 55px;  
}

.nav-list li {
    padding-left: 10px;
    margin-left: 5px;
    margin-right: 15px;
}

 a, li {
    list-style: none;
    text-decoration: none;
    font-size: 25px;
}

.sub-menu {
    display: none;
    position: absolute;
    list-style-type: none;
    margin-top: 30px;
    margin-left: -10px;
    text-align: left;
    box-shadow: 1px 1px 1px var(--mainColor);
}

.sub-menu li {
    padding: 10px;
    background: #fff;
    opacity: .7;
}

.nav-list li:hover .sub-menu {
    display: block;
}


/* ----- Header End ----- */

/* ----- Body Start ----- */

.container {
    width: 100%;
    max-width: 90%;
    min-height: 95vh;
    background-color: var(--mainColor);
    margin: 50px;
    box-shadow: 10px 10px #cbcccc;
    border-radius: 5px;
    
}

/* ----- Body End----- */

/* ----- Footer Start----- */

.footer {
    display: flex;
}

.name {
    text-align: center;
    
}

.soc-med {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 35px;
    height: 35px;
    margin-left: 50%;
    margin-bottom: 20px;
    margin-top: 30px;
}

.copyright {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}


/* ----- Footer End----- */


/* ----Media Queries Start ----*/

@media (max-width: 1024px) {
    .container {
      display: block;
      margin: auto;
      margin-top: 40px;
    }
  }

 
  
  /* ----Media Queries end ----*/


